<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="root@mmm.com">
        <network defaultCredentials="false" enableSsl="true" host="smtp.gmail.com" port="587" userName="root@mmm.com" password="password" />
      </smtp>
    </mailSettings>
  </system.net>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Cors" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="TsSoft.AbstractMapper" publicKeyToken="e362646c9e1f551e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.5823.34151" newVersion="1.0.5823.34151" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="TsSoft.Expressions.Models" publicKeyToken="e362646c9e1f551e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.5822.24563" newVersion="1.0.5822.24563" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="TsSoft.Expressions.Helpers" publicKeyToken="e362646c9e1f551e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.5826.25941" newVersion="1.0.5826.25941" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="TsSoft.Expressions.IncludeBuilder" publicKeyToken="e362646c9e1f551e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.5798.25696" newVersion="1.0.5798.25696" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="TsSoft.BindingsDescription" publicKeyToken="e362646c9e1f551e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.5661.19251" newVersion="1.0.5661.19251" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="TsSoft.Expressions.SelectBuilder" publicKeyToken="e362646c9e1f551e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.5823.34152" newVersion="1.0.5823.34152" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging.Core" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.1.0" newVersion="3.3.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.1.0" newVersion="3.3.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="123" value="321" />
  </appSettings>
</configuration>